.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  &__map {
    flex: 1;
  }
  &__objects-list {
    position: absolute;
    top: 56px;
    left: 8px;
  }
  &__widget-wrapper {
    display: flex;
    position: absolute;
    bottom: 24px;
    left: 8px;
    display: flex;
  }
  &__widget {
    margin-right: 8px;
  }
  &__card {
    position: absolute;
    bottom: 22px;
    left: 8px;
    right: 8px;
  }
}
