.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__map-wrapper {
    position: relative;
    flex: 1;
  }
  &__map {
    height: 100%;
  }
  &__objects-list {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  &__widget-wrapper {
    position: absolute;
    bottom: 24px;
    left: 8px;
    display: flex;
  }
  &__widget {
    margin-right: 8px;
  }
  &__card {
    position: absolute;
    bottom: 22px;
    left: 8px;
    right: 8px;
  }
}
.navbar {
  background-color: #14181F;
  width: 100%;
  height: 48px;
  display: grid;
  grid-template-columns: 24px 213px 1fr 50px repeat(3, 68px) 70px;
  justify-items: center;
  align-items: center;
  align-content: center;
  padding: 0 16px;
  &__popover {
    height: 100%;
    justify-self: left;
  }
  &__link {
    height: 100%;
    color: #B4B8BF;
    display: flex;
    align-items: center;
    &.notif {
      padding: 0 16px;
      height: 75%;
      border-right: 1px solid rgba(255, 255, 255, 0.12);
      border-left: 1px solid rgba(255, 255, 255, 0.12);
    }
  }
}

.profile {
  &__avatar {
    color: #B4B8BF;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 16px;
    &:hover {
      background-color: rgba(100, 100, 100, .5);
    }
  }
  &__title {
    color: #9398A3;
    font-size: 12px;
  }
  &__content {
    text-align: left;
    color: #f2f3f5;
    padding: 0 16px;
  }
  &__btn .el-icon-caret-bottom {
    color: #B4B8BF;
  }
}

.objects {
  &__dropdown {
    width: 208px;
    border-radius: 4px;
    background-color: rgba(83, 152, 224, 0.24);
    color: #5398E0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px;
    font-weight: 600;
    & .el-icon-caret-bottom {
      color: #5398E0;
    }
  }
}
