.docs {
  text-align: left;
  height: 100%;
  position: relative;
  &__upload {
    display: flex;
    height: 300px;
    flex-direction: column;
  }
  &__title {
    margin-bottom: 8px;
    transition: .2s;
  }
  &__text {
    color: var(--text_secondary);
  }
  &__info {
    color: var(--text_secondary);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__upload-icon {
    font-size: 32px;
    margin-right: 16px;
    transition: .2s;
  }
  &__doc-icon {
    font-size: 18px;
  }
  &__item {
    display: grid;
    grid-template-columns: 25px 1fr 25px 25px;
    align-items: center;
  }
  &__btn {
    width: 25px;
    height: 25px;
    border-radius: var(--border-radius);
    line-height: 25px;
    &:hover {
      background-color: var(--button_secondary_bg_hover);
    }
  }
  & .el-upload {
    &-list {
      overflow-y: auto;
      height: 100%;
      padding: 0 4px;
      margin: 8px 4px 0;
    }
    &-list__item {
      transition: none;
      background-color: var(--bg_containers);
      color: var(--text_primary);
      padding: 8px;
      &:hover {
        background-color: var(--bg_containers);
      }
      &:first-child {
        margin-top: 0;
      }
    }
    & .el-upload-dragger{
      width: 100%;
      padding-left: 16px;
      background-color: transparent;
      height: 64px;
      border: 2px dashed var(--dividers_high_contrast);
      line-height: 1;
      display: flex;
      align-items: center;
      text-align: left;
      transition: .2s;
      &:hover {
        border-color: var(--accent_primary);
        & .docs__title,
        & .docs__upload-icon {
          color: var(--accent_primary);
        }
      }
    }
  }
}