.tabs {
  height: 36px;
  display: flex;
  grid-area: header;
  &__btn {
    flex: 1;
    line-height: 36px;
    text-align: center;
    border-bottom: 2px solid transparent;
    transition: all .2s linear;
    
    &:hover {
      background-color: var(--accent_hover);
    }
    &.active {
      border-bottom-color: var(--field_active_border);
      background-color: var(--accent_active);
    }
  }
}