.docs-comments {
  position: relative;
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 16px;
  }
  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--modal_overlay);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
