.widget {
  background-color: var(--modal_bg);
  border-radius: var(--border-radius);
  color: var(--text_subhead);
  width: 280px;
  height: 270px;
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    padding: 4px 8px;
    font-weight: 600;
  }
  &__view.el-radio-group {
    display: flex;
  }
  &__btn.el-radio-button {
    border-right: 1px solid var(--dividers_low_contrast) !important;
    overflow: hidden;
    &:last-child {
      border-right: none !important;
    }
    &.is-active .el-radio-button__inner {
      background-color: var(--accent_selected) !important;
      color: var(--accent_primary);
    }
  }
  &__btn .el-radio-button__inner {
    background-color: var(--bg_containers) !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 28px;
  }
}

.stat {
  padding: 16px;
  display: grid;
  grid-gap: 16px 0;
  grid-template-columns: 1fr 1fr;
  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: icon;
    &.red {
      color: #E35D5D;
      border-color: #E35D5D;
      background-color: rgba(227, 93, 93, 0.1);

    }
    &.green {
      color: #79DB62;
      border-color: #79DB62;
      background-color: rgba(121, 219, 98, 0.1);
    }
  }
  &__item {
    display: grid;
    grid-template-columns: 40px 67px;
    grid-template-rows: 20px 20px;
    grid-template-areas:
      "icon count"
      "icon status";
    grid-gap: 0px 8px;
    align-items: end;
  }
  &__count {
    grid-area: count;
  }
  &__status {
    grid-area: status;
  }
}
