*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}

*:focus, *:active {
	outline: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
	margin: 0;
}

address{
	font-style:inherit;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

html,body {
	height: 100%;
	width: 100%;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

a, a:visited {
	text-decoration: none;
	color:inherit;
}

a:hover {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
}

ul {
	list-style: none;
}

input,button,textarea {
	font-family: inherit;
}

input:-ms-clear {
	display: none;
}

button{
	cursor: pointer;
	background-color: transparent;
}

button:-moz-focus-inner {
	padding: 0;
	border: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

cite{
	font-style: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
