.comments {
  position: relative;
  &__top {
    display: flex;
  }
  &__input {
    margin-right: 16px;
  }
  &__input .el-textarea__inner {
    background-color: var(--field_bg);
    border-color: var(--field_border);
    height: 64px !important;
    color: var(--text_primary);
    resize: none;
    &:hover {
      border-color: var(--field_border);
    }
    &::placeholder {
      color: var(--text_secondary);
    }
    &:focus {
      border-color: var(--field_border);
    }
  }
  &__send-btn.el-button {
    height: 64px;
    font-size: 32px;
    padding: 0;
    background-color: var(--button_primary_bg);
    border: none;
    flex: 1 0 64px;
    &:hover {
      background-color: var(--accent_active);
    }
  }
  &__info {
    color: var(--text_secondary);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
