.hint {
  width: 250px;
  min-height: 250px;
  background-color: var(--bg_panel_secondary);
  padding: 16px;
  z-index: 100;
  border-radius: var(--border-radius);
  &__title{
    margin-bottom: 8px;
    text-align: center;
  }
  &__field {
    padding: 8px 0;
  }
  &__prop {
    color: var(--text_secondary);
  }
}
